<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
    <%- include('detail') %>
    <%- include('edit') %> 
    <form action="/books/<%= x.id %>?_method=DELETE" method="POST">
        <input type="hidden" value="<%= x.id %>" name="id">
        <input type="submit" value="Delete">
    </form>
    <button id="updatebutton">Update Book</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../../public/app.js"></script>
</body>
</html>