<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Best Books</h1>
        <p>Search by Title or Author</p>
    </header>
    <form action="">
        <input type="text" placeholder="Enter a title or author">
        <input type="radio" value="Title">
        <input type="radio" value="Author">
        <input type="button" value="Search the Google Books API">
    </form>
</body>
</html>